
<h1>Submit New Contract</h1>

<% if @contract.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@contract.errors.count, "error") %> prohibited this contract from being created:</h2>
    <ul>
      <% @contract.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @contract do |form| %>
  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <!-- TODO: Dynamically add multiple documents. -->
  <%= form.fields_for :documents do |form| %>
    <div class="mb-3">
      <%= form.label :title, "Document Title", class: "form-label" %>
      <%= form.text_field :title, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= form.label :title, "Document", class: "form-label" %>
      <%= form.file_field :file, class: "form-control" %>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
