<h1>Labels</h1>
<%= link_to 'Add New Label', new_label_path, class: 'btn btn-primary' %>
<table class="table table-striped align-middle">
  <thead>
  <tr>
    <th>Title</th>
    <th>Tag</th>
    <th>Color</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @labels.each do |label| %>
    <tr>
      <td><%= label.tag %></td>
      <td><%= label.title %></td>
      <td><span class="badge rounded-pill", style="background-color: <%= label.color %>"><%= label.color %></span></td>
      <td>
        <%= button_to "Destroy",
          label_path(label),
          method: :delete,
          class: "btn btn-danger",
          form: { data: { turbo_confirm: 'Are you sure?' } } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
